BODY {
	margin: 0px;
	padding: 0px;
	text-align: center;
	min-width: 1000px;
	background-color: #253447;
}

a:link {
	color: #0000FF;
}

a:visited {
	color: #0000FF;
}

a:hover {
	color: #FF0000;
}

table.bordered {
	border: 1px solid gray;
}

table.bordered tr th {
	border: 1px solid gray;
}

table.bordered tr td {
	border: 1px solid gray;
}

table.topAligned tr td {
	vertical-align: top;
	padding: 5px;
}

dl dt {
	padding: 5px;
}

ol li {
	list-style: decimal;
	padding: 5px;
	list-style-position: inside;
}

#pagewrapper {
	text-align: left;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	min-height: 800px;
	/*border: solid 1px red;*/
}

#headerContainer {
	/* border: 1px solid red; */
	z-index: 100;
	background-color: #253447;
	height: 190px;
	left: auto;
	right: auto;
	position: fixed;
	width: 1000px;
	top: 0;
}

#headerBuffer {
	height: 70px;
}

#headerBuffer .banner {
	position: absolute;
	width: 750px;
	left: 125px;
	height: 70px;
	font-family: Arial;
	font-size: 24px;
	line-height: 24px;
	text-align: center;	
}

#headerBuffer .red {
	background: url('/media/img/red_paper_tear.gif') no-repeat;
}
#headerBuffer .yellow {
	background: url('/media/img/yellow_paper_tear.gif') no-repeat;
}

#header {
	/* border: 1px solid red; */
	height: 122px;
	width: 1000px;
	background: url('/media/img/generic_dusk_header-998x78.jpg') no-repeat,
		url('/media/img/generic_dusk_search_bar_background_tile.gif') bottom,
		no-repeat;
}

#header .logo {
	position: absolute;
	float: left;
	left: -75px;
	top: 0px;
	height: 200px;
	width: 200px;
	background: url('/media/img/site_logo_-_200x200_-_transparent.gif')
		no-repeat;
}

#header .subheader {
	/* border: 1px solid red; */
	height: 78px;
	width: 998px;
	background:
		url('/media/img/generic_dusk_search_bar_background_tile.gif') repeat;
}

#header .title {
	position: relative;
	left: 125px;
	color: #D4A84B;
	size: 6;
	font-family: Arial;
	font-size: 30px;
	line-height: 35px;
}

#header .subtitle {
	position: relative;
	left: 125px;
	color: #D4A84B;
	size: 4;
	font-family: Arial;
	font-size: 18px;
	line-height: 22px;
}

#content {
	font-family: Arial;
	font-size: 14px;
	line-height: 17px;
	color: #979BA0;
	margin-top: 195px;
	margin-left: 120px;

}

#content .title {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #D4A84B;
	line-height: 17px;
}

#content .subtitle {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #D4A84B;
	line-height: 15px;
}

#content .paddedImage {
	padding: 15px;
}

#content .paddedImage .caption {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #D4A84B;
	line-height: 15px;
	text-align: center;
}

#sidebar {
	position: fixed;
	display: block;
/*	float: left;*/
	width: 120px;
	top: 200px;
	height: 100%;
	/*border: 1px solid blue;*/
}

#footer {
	text-align: center;
	/*position: fixed;*/
	height: 36px;
	width: 1000px;
	background: url('/media/img/generic_dusk_footer-760x44.gif') no-repeat
		center;
	color: #D4A84B;
	font-size: 12px;
	line-height: 17px;
	padding: 10px;
}

.clearfloat {
	clear: both;
}

.japaneseTerm {
	font-style: italic; //
	font-weight: 700;
}